.add{
    background-color: rgb(128, 94, 128);
    margin-top: 5%;
    text-align: center;
}
.add1{
    background-color: rgb(80, 53, 80);
    color: rgb(228, 206, 206);

}
.para{
    margin-top: 5%;
    background-color: rgb(51, 36, 65);
    color: whitesmoke;
}