*{
    margin: 0;
    padding: 0;
}
.tech{
    margin-top: 3%;
    text-align: center;
    font-size: 25px;
    background-color: rgb(235, 186, 235);
}
.nontech{
    margin-top: 3%;
    text-align: center;
    font-size: 25px;
    background-color: rgb(235, 186, 235);
    
}
h1{
    text-align: center;
}